# Conexión a PostgreSQL
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DBNAME?schema=public
DATABASE_URL=

# Puerto del servidor Express (default: 3000)
PORT=

# Secreto para firmar tokens JWT (generar con: openssl rand -hex 32)
JWT_SECRET=

# Tiempo de expiración del token JWT (formato: '24h', '7d', etc.)
JWT_EXPIRES_IN=24h

# Credenciales de Cloudinary para upload de imágenes
# Formato: cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_URL=

# URL frontend PROD
CORS_ORIGIN =